extends layout.pug

block content
    h1 Update Contact Info
    form.form-control.bg-light(action="/contacts/"+contact.id+"/edit", method="post")
        fieldset
            legend Basic Info
            .row
                .col-12.col-md-6
                    label.form-label(for='first') First Name:
                    input.form-control(name="first", value=contact.first, required=true)
                .col-12.col-md-6
                    label.form-label(for='last') Last Name:
                    input.form-control(name="last", value=contact.last)
            .row.mt-3
                .col-12.col-md-6
                    label.form-label(for='phone') Phone:
                    input.form-control(type="tel", name="phone", value=contact.phone, required=true)
                .col-12.col-md-6
                    label.form-label(for='email') Email:
                    input.form-control(type='email', name="email", value=contact.email, required=true)
            section
                label.form-label(for='address') Address:
                input.form-control(name="address", value=contact.address, required=true)
        fieldset.mt-2
            legend Contact Preferences
            section
                if contact.contact_by_phone === 'on'
                    input.form-check-input(type="checkbox", name="contact_by_phone" checked)
                else
                    input.form-check-input(type="checkbox", name="contact_by_phone")
                label.form-label(for="contact_by_phone") Contact by phone
            section
                if contact.contact_by_email === 'on'
                    input.form-check-input(type="checkbox", name="contact_by_email" checked)
                else
                    input.form-check-input(type="checkbox", name="contact_by_email")
                label.form-label(for="contact_by_email") Contact by email
            section
                if contact.contact_by_mail === 'on'
                    input.form-check-input(type="checkbox", name="contact_by_mail" checked)
                else
                    input.form-check-input(type="checkbox", name="contact_by_mail")
                label.form-label(for="contact_by_mail") Contact by mail
        button.btn.btn-primary(type="submit") Save
        a.ms-2(href="/") Cancel