extends layout.pug

block content
    h1 Contact List
    div.table-responsive
        table.table.table-hover
            thead
                tr
                    th Name
                    th Phone
                    th Email
                    th Address
                    th Contact
                    if user
                        th Edit/Delete
            tbody#contacts
                for contact in contacts
                    tr(onclick=`on_row_click(${contact.lat}, ${contact.lng})`)
                        td
                            section= contact.first +' '+ contact.last
                        td
                            section= contact.phone
                        td= contact.email

                        td
                            .container
                                .row
                                    div= contact.street
                                .row
                                    div= contact.city + ', ' + contact.state + ' ' + contact.zipcode
                                .row
                                    div= contact.country + ' '+contact.lat+'/'+contact.lng
                        td
                            div
                                if(contact.contact_by_phone==='on')
                                    input(id='phone', type='checkbox' disabled checked)
                                else
                                    input(id='phone', type='checkbox' disabled)
                                label(for='phone') Phone

                            div
                                if(contact.contact_by_email === 'on')
                                    input(id='email', type='checkbox' disabled checked)
                                else
                                    input(id='email', type='checkbox' disabled)
                                label(for='email') Email

                            div
                                if(contact.contact_by_mail === 'on')
                                    input(id='mail', type='checkbox' disabled checked)
                                else
                                    input(id='mail', type='checkbox' disabled)
                                label(for='mail') Mail

                        if user
                            td
                                section
                                    a.btn.btn-primary(href='/contacts/'+contact.id+'/edit') Edit
                                section
                                    a.btn.btn-danger(href='/contacts/'+contact.id+'/delete') Delete


    div#map-container
        div#map

    form.form-control.bg-light.mb-3
        fieldset
            legend Basic Info
            .row
                .col-12.col-md-4
                    label.form-label(for='title') Title:
                    select.form-select(name='title', required=true)
                        option selected Choose...
                        option(value='Mr.') Mr.
                        option(value='Mrs.') Mrs.
                        option(value='Ms.') Ms.
                        option(value = 'Dr.') Dr.

                .col-12.col-md-4
                    section
                        label.form-label(for='first') First Name:
                        input#firstF.form-control(name="first", required=true)
                .col-12.col-md-4
                    section
                        label.form-label(for='last') Last Name:
                        input#lastF.form-control(name="last", required=true)
            .row
                .col-12.col-md-6
                    section
                        label.form-label(for='phone') Phone:
                        input#phoneF.form-control(type="tel", name="phone", required=true)
                .col-12.col-md-6
                    section
                        label.form-label(for='email') Email:
                        input#emailF.form-control(type='email', name="email", required=true)
        fieldset
            legend.mt-2 Address
            .row
                section.col-12.col-md-6
                    label.form-label(for='street') Street:
                    input#streetF.form-control(type='street', name='address', required=true)
                section.mt-1.col-12.col-md-6
                    label.form-label(for="city") City:
                    input#cityF.form-control(name="city" required=true)
            .row.mt-1
                .col-12.col-md-4
                    label.form-label(for="state") State:
                    input#stateF.form-control(name="state" required=true)
                .col-12.col-md-4
                    label.form-label(for="zip") Zip:
                    input#zipcodeF.form-control(name="zip" required=true)
                .col-12.col-md-4
                    label.form-label(for="country") Country:
                    input#countryF.form-control(name="country" required=true)

        fieldset
            legend.mt-3 Contact Preferences
            section
                input#contactPhoneF.form-check-input(type="checkbox", name="contact_by_phone")
                label.form-label.ms-1(for="contact_by_phone") Contact by phone
            section
                input#contactEmailF.form-check-input(type="checkbox", name="contact_by_email")
                label.form-label.ms-1(for="contact_by_email") Contact by email
            section
                input#contactMailF.form-check-input(type="checkbox", name="contact_by_mail")
                label.form-label.ms-1(for="contact_by_mail") Contact by mail
        .row
            .col-3
                button.btn.btn-primary(type='button', onclick='addContact()') Create
            .col#message
        .mb-3
    script(src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js")
    script(src="/contacts.js")
    script.
        loadPlaces()
